
:root {
    --font-family: 'Roboto','Courier New', Courier, monospace; 
    --font-size: 16px;
    --font-weight: 400;
    --line-height: 1.4;
    --border-radius: 0.25rem;
    --border-width: 1px;
    --spacing: 0.5rem;
    --dark-color: #1f1f1f;
    --muted-color: #73828c;
    --border-color: #cccccc;
    --link-color: #002F6C;
    --windows-gray-color: #E6E6E6;
    --banner-color: #eaeaea;
    
}

html {
    font-weight: var(--font-weight);
    font-size:   var(--font-size);
    font-family: var(--font-family);
    line-height: var(--line-height);
    cursor: default;
}


h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-family);
    font-weight: 900;
    line-height: 1;
}

.container { 
    margin-inline: auto; 
    width: min(90%, 960px);  
    background-color: #ffffff; 
    padding-left: 0.5rem; 
    padding-right: 0.5rem;
}

header { padding-top: 1rem; }
header h1 { font-weight: 700; letter-spacing: 0.2rem; font-size: 2rem; line-height: 1;}
header h2 { font-size: 1rem; }

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--banner-color);
    padding: 1rem 0;
}

.banner a { text-decoration: none; outline: none; }

.banner-logos { display: flex; gap: 0.5rem; padding-top: 1rem; }

.banner-logos img { width: 50px; height: 50px; }
 
/* This logo is special (rectangle) so I set the width to 30px to compensate */
.banner-logos .arrl-logo { width: 30px; height: 50px; }

nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

nav a {
    display: inline-block;
    color: var(--link-color);
    background-color: #f1f1f1;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
    border: 1px solid #cccccc;
}

nav a:active, a:hover, a:focus { outline: none; cursor: pointer;}
nav a:hover { background-color: #ffffff; }

main h1 { font-size: 1.1rem; margin-bottom: 0.5rem; }
main h2 { font-size: 1rem; }
main p  { margin: 1rem 0; }

footer { text-align: center; margin-bottom: 1rem; background-color: var(--banner-color); }

/* Flex utilities */
.flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-row { flex-direction: row; }
.space-between { justify-content: space-between; }

.p05  { padding: 0.5rem; }
.pt05 { padding-top: 0.5rem; }
.pb05 { padding-bottom: 0.5rem; }

.p1  { padding: 1rem; }
.pt1 { padding-top: 1rem; }
.pb1 { padding-bottom: 1rem; }
.pl1 { padding-left: 1rem;}

.p1-5  { padding: 1.5rem; }
.pt1-5 { padding-top: 1.5rem; }
.pb1-5 { padding-bottom: 1.5rem; }

.p2  { padding: 2rem; }
.pt2 { padding-top: 2rem; }
.pb2 { padding-bottom: 2rem; }

.pb4 { padding-bottom: 4rem; }
.pb6 { padding-bottom: 6rem; }

.mt05 { margin-top: 0.5rem; }
.mb05 { margin-bottom: 0.5rem; }
.mt1 { margin-top: 1rem; }
.mb1 { margin-bottom: 1rem; }

.width-100 { width: 100%; }

.active { background-color: #ffffff;}
.text-center { text-align: center; }

.card {
    border: 1px solid #eaeaea;
    border-radius: var(--border-radius);
    padding: 0.5rem;
}

form { text-align: center; width: 100%; }

@media screen and (min-width: 700px) {
    body { background-image: url(/assets/images/arrl_logo_bg.png); }

    /* Hide the menu button - not needed on big screens and display full menu */
    #menu-button { display:none; }
    nav { margin: 0.5rem 0;}
    nav ul { display: flex; flex-direction: row; flex-wrap: wrap; }
    nav a { padding: 0.5rem 1rem; }

    header h1 { font-size: 4rem; }
    .banner { flex-direction: row; justify-content: space-between; text-align: start; padding: 0.5rem 1rem; }
    .banner-logos { padding: 0; }
 
    form { text-align: start; }
}