---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title = "PARC - ARES">
    <main class="container">

        <section class="pb1">
            <h1 class="pt1-5">Are you interested in serving your community?</h1>

            <div class="flex pt1 pb1">
                <img src="/assets/images/ares_logo.png" alt="ARES" title="ARES">

                <p class="pl1">
                    The Amateur Radio Emergency Service&reg; (ARES) consists of licensed amateurs who have voluntarily
                    registered their qualifications and equipment, with their local ARES leadership, for communications
                    duty
                    in the public service when disaster strikes.
                </p>
            </div>

            <h1 class="pt1-5">ARES Membership Requirements</h1>
            <p>
                Every licensed amateur, regardless of membership in ARRL or any other local or national organization is
                eligible to apply for membership in ARES. Training may be required or desired to participate fully in
                ARES. Please inquire at the local level for specific information. Because ARES is an Amateur Radio
                program, only licensed radio amateurs are eligible for membership. The possession of emergency-powered
                equipment is desirable, but is not a requirement for membership.
            </p>

            <h1 class="PT1-5">How to Get Involved in ARES</h1>
            <p>
                Okaloosa County ARES information is available at <a href="http://okares.com"
                    target="ares">OKARES.com</a>
                Please refer to that site for registration and activation status.
            </p>

        </section>
    </main>
</MainLayout>