---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title = "PARC - Code">

    <main class="container">
        <section class="pb1">
            <h1 class="pt1-5">Code Class is officially out of session.</h1>

            <p>If you would like to self-study using the class materials, you will find the necessary links below.</p>
            <p>No preparation is necessary but - whatever you do - don't start memorizing the letters by studying the
                dots/dashes off a document.</p>

            <ul class="no-list-style">
                <li>Rule #1 - Only learn Morse code by sound.</li>
                <li>Rule #2 - See Rule #1</li>
            </ul>

            <p>The characters are covered in the following order (modified Koch method):<br> K M R S U A P T L O W I . N
                J E F 0 Y , V 5 G / Q 9 Z H 3 8 B C D X ?</p>

            <ul class="no-list-style pl1">
                <li><a href="/assets/documents/CodeClass14.zip">Code Class Files</a></li>
                <li><a href="/assets/documents/letters.zip">Letter Practice Sets</a></li>
                <li><a href="/assets/documents/1num_punct.zip">Number And Punctuation Practice Sets</a></li>
            </ul>

            <p>
                For those interested, future classes will be scheduled according to demand and instructor availability.
                Please send requests or comments to <a href="mailto:exams@w4zbb.org">exams@w4zbb.org</a>.
            </p>

            <p>73 de AC5LT</p>

        </section>
    </main>
</MainLayout>