---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title = "PARC - Exams">

    <main>
        <section>
            <h1 class="pt1-5">Amateur Radio License Testing</h1>
            <h2><small>UPDATE: as of 30 Oct 2020</small></h2>

            <p>
                Due to COVID-19 we are no long taking walk-ins. Please contact the exam coordinator at <a href="mailto:parcfwb@gmail.com">parcfwb@gmail.com</a> to register for the next scheduled exam. If you are not sure what you need to bring, stop by <a href="http://www.arrl.org/what-to-bring-to-an-exam-session">What to Bring to an Exam Session</a>.
            </p>

            <p>
                Amateur Radio Operator Examinations are held at 0900 on the second Saturday of every odd month, with the exception of March, where the exams are held in conjunction with the PARC Swapfest. This date varies from year to year, so please contact the exam coordinator at the email address below for location and scheduling.
            </p>

            <p>
                With the exception of March, testing is held at the Playground Amateur Radio Club's clubhouse located at the intersection of 1st and Church Streets in downtown Fort Walton Beach. All candidates must bring a photo ID and existing licensees need an original copy of their FCC-issued license. The test fee is $15, payable by cash or check.
            </p>

            <p>
                These examinations are administered by our local VEs who are committed to helping you succeed in your efforts to progress through the mateur ranks. If you have any questions concerning exam schedules, what you need to bring, or the current information pertaining to the licensing structure, please feel free to contact the exam coordinator at <a href="mailto:parcfwb@gmail.com">parcfwb@gmail.com</a>.
            </p>

        </section>
    </main>
</MainLayout>