---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title = "PARC - Hamfest">

    <main class="container">

        <section class="pb1">
            <h1 class="pt1-5">The 52nd ANNUAL PARC Hamfest</h1>

            <p>
            <ul class="no-list-style">
                <li>March 18-19, 2022</li>
                <li>Friday 4p-8p</li>
                <li>Saturday 8a-2p</li>
            </ul>
            </p>
            <p>
            <ul class="no-list-style">
                <li>NWF Fairgrounds</li>
                <li>1958 Lewis Turner Blvd</li>
                <li>Fort Walton Beach, FL 32547</li>
            </ul>
            </p>

            <p>
            <ul class="no-list-style">
                <li>Admission: $7</li>
                <li>Tables: $15</li>
                <li>Tailgating encouraged! $10/spot </li>
                <li>RV Parking $30 per night, 30A,water,sewer included.</li>
            </ul>
            </p>

            <p>
            <ul class="no-list-style">
                <li>Contact: <a href="mailto:hamfest@w4zbb.org">hamfest@w4zbb.org</a></li>
                <li>(850) 359-9186</li>
            </ul>

            </p>
        </section>

    </main>

</MainLayout>