---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title = "PARC - Ham Radio">

    <main>
        <section class="pb1">
            <h1 class="pt1-5">Interested In Amateur Radio?</h1>

            <p>Many people think that Citizens Band or CB and Amateur Radio are the same. Other people think that to be
                an Amateur Radio Operator you have to be able to build your own radio or have a degree in electronics.
                Amateur or Ham Radio are both similar to and dissimilar to Citizens Band Radio. In this pamphlet we will
                discuss thoughts about the two. And how you can be an Amateur Radio Operator or Ham.
            </p>
            <p><b>Similarities:</b> They are both methods of radio communications. Both use mobile radios, portable
                radios and base stations. Both are regulated by the Federal Communications Commission. Both can be
                enjoyable, helpful, and life savers.
            </p>
            
            <h1>Dissimilar:</h1>
            <p><b>POWER:</b> Legally Citizens Band Radio is 4 watts. On some frequencies amateurs are allowed up to 1500
                watts. However we are required to use the minimum power necessary to maintain communications.
            </p>
            <p>Legally Now there is a word with some meaning. Are you aware that the FCC can fine you several thousand
                dollars, take way equipment, jail you and take away radio operating privileges for violating their
                rules.?
            </p>
            <p>Ok, you may have used amplifiers on CB to put out a lot more than 4 watts, but it was illegal and may
                have caused interference. That interference may have been to other CBers, Hams, normal people trying to
                watch television or listen to AM/FM radio, and possibly could have caused problems for Emergency
                Response Agencies.
            </p>
            <p><b>Knowledge:</b> Anyone can buy a CB turn it on and use it. To be an amateur or ham you have to be
                licensed and for that you have to pass certain tests. At this time a technician license is the easiest
                to get. You study a book or a test pool, take a multiple choice test pass it and in a few weeks have
                your license and first call sign. Other higher class licenses require more multiple choice tests.
            </p>
            <p><b>Call signs:</b> On CB you may be "the ridge runner", "cutie pie" or have another "handle". Our call
                signs are officially assigned by the FCC, each call sign is unique in the world . This is just like your
                favorite radio station or TV station has an FCC call sign. We have to identify by call sign every 10
                minutes while transmitting and at the end of a transmission. Many hams know each other better by call
                sign then name. There are several places on line where you can find out who has a certain call sign. The
                Playground Amateur Radio Club has the call sign W4ZBB.
            </p>
            <p><b>Music:</b> Lots of people seem to like to "share"
                their music on CB, this is not allowed on
                amateur frequencies a gentle reminder is given at first and repeat offenders are dealt with more firmly,
                if needed other amateurs will find the offender and forward complaints to the FCC. Oh, the exception,
                amateurs may transmit music if retransmitting signals from the international Space Station.
            </p>
            <p><b>Vulgarities:</b> The language on a CB is often such that you would not want it on with young children
                in the vehicle. Again we take a strong stance on this issue, occasionally you may hear a h*** or a d***
                but nothing like CB. Transmitting vulgarities is illegal and just shows the intelligence of the user.
            </p>
            <p><b>Frequencies:</b> CBs use channels, we use frequencies our local simplex is 147.555 Mhz (megahertz);
                also we use repeaters to extend our range; we have a repeater on the credit union in Shalimar that
                receives on 146.190 Mhz and retransmits on 146.790 Mhz. The repeater in Crestview owned by the North
                Okaloosa Amateur Radio Club has a net that reaches Anniston and Brewton Alabama, Navarre, Mary Esther
                and Fort Walton to name but a few locations.
            </p>
            <p><b>International Communications:</b> The lowest class of licensee (Technician) is allowed direct world
                wide communications on HF (high frequency) on only one band; however they could communicate world wide
                through satellites. They are legally allowed to communicate with the International Space Station or
                Space Shuttle if a Ham is on board. Also legally are allowed to try to bounce a signal off the moon and
                people do accomplish that feat. Amateurs licensees can sit at home or in their car or at a camp site and
                talk to people directly all over the word. Most hams world wide speak some English.
            </p>
            <p><b>Computers:</b> We can tie our computers together with our radios and do things like chat and email
                through our radios; unlike the internet this is you doing it not an internet service provider.
            </p>
            <p><b>Television:</b> We can do both slow scan and fast scan TV. In slow scan you send and receive still
                pictures, in fast scan moving pictures.
            </p>
            <p><b>Business:</b> Sorry amateur radio frequencies are not for commercial use, you can not use them for
                business and you can't make any money off it.
            </p>
            <p><b>Emergencies:</b> This is where we shine; Amateur Radio is essential in Emergencies and we can and do
                operate when no other communications are possible. We have contests annually where we operate on
                emergency power like solar cells, batteries or generators. We have to set up antennas and use locations
                we do not use on a routine basis. During 9-11 an 11 year old girl who had just gotten her license (you
                can get your license at any age) took her dad's spare portable and provided communication between a
                shelter she went to and the Emergency Operations Center; in New York City, adults had to have her
                permission to talk on her radio. Amateurs help in all types of natural disasters, major accidents,
                searches and etc.
            </p>
            <p><b>Welcome:</b> We welcome you to visit our club house on the corner of Church and First St. in Fort
                Walton Beach to learn more. Our normal meetings are 7:30 p.m. the first and third Thursday of each
                month. Usually on Sunday afternoon from about 2 p.m. to 4 p.m. someone is at the club who can answer
                lots of questions and maybe put you on the air. Often they are there earlier and later on Sunday
                afternoon. We would like to help you get your license and get started in a great hobby. What do we get
                out of it? We get more people in our hobby. More people to call friends. And yes the more Hams the
                better we can protect our frequencies. What do you get? To learn something new, and maybe a lot of new
                things. You may decide to foxhunt (find a hidden signal) in training to work in emergencies such as a
                aircraft crash. Talk to people all over the world in contests or just rag chewing (general
                conversation). Perhaps, build some of your own equipment. To be able to help in emergencies like
                hurricanes, tornados, floods, lost children, etc. There are so many facets that can be explored.
            </p>
            <p>73s (Best Wishes in Hamspeak)</p>
            <p>Mo, NS4H</p>
            <p>Also check out <a href="www.arrl.org" target="_blank">www.ARRL.org</a> for more information on Amateur
                Radio.</p>
        </section>
    </main>

</MainLayout>