---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title = "PARC - Memorial">
    <main class="container">
        <section>
            <h1 class="pt1-5">Dedicated To Rembering Our SKs</h1>
            <article class="silent-key">

                <ul class="no-list-style pl1 pb1">
                    <li>Joseph Peter Giangrosso, WD4JZG/SK</li>
                    <li>1948-April 26,2021</li>
                </ul>

                <div class="text-wrap-left center-picture">
                    <img src="/assets/images/sk/Joseph_Giangrosso.jpg" alt="Joseph Peter Giangrosso, WD4JZG/SK"
                        title="Joseph Peter Giangrosso, WD4JZG/SK">
                </div>
                <p>
                    Joseph Peter Giangrosso, Jr, 73, of Niceville, Florida, passed away on Monday, April 26, 2021,
                    surrounded by his family. He managed his diabetes since diagnosis at age 16, endured complications
                    from heart surgeries, and dealt with ongoing dialysis.
                </p>
                <p>
                    Joe was born in Birmingham, Alabama to father Joseph Peter and mother Rose Schilleci Giangrosso. He
                    earned the rank of Eagle Scout from the Boy Scouts of America, graduated from Bessemer High School
                    in 1965, Auburn University in 1969 with a Bachelor of Electronic Engineering and Minor in Mechanical
                    Engineering, Air Force Institute of Technology in 1977 studying engineering statistical analysis,
                    University of Florida in 1981 with a Master of Science, Electrical Engineering, and Troy State
                    University in 1988 with a Master of Science, Engineering Management.
                </p>
                <p>
                    In January 1973, Joe began his career as a contractor, and then as a DOD Contractor in December
                    1973. He retired from the DOD in 2008, but continued on his work as an engineer, all while growing
                    his vast engineering experience. Joe also worked with the Coast Guard Auxiliary Flotilla 1-4 of
                    Destin, Florida. Joe had a passion and love for engineering, and enjoyed working every day.
                </p>
                <p>
                    Joe loved his cat, Bella, Guy Harvey and fishing, particularly deep-sea fishing down in Key West.
                    His final request is to have a burial at sea and to be a part of an artificial reef formations along
                    Key West to help create new marine habitats for fish and other sea life. He also donated faithfully
                    to St. Jude Children's Research Hospital, American Diabetes Association, and many other foundations.
                </p>
                <p>
                    He was a kind, generous and loving man and survived by his partner Linda Hardy, a father to Joseph
                    P. Giangrosso III and Michael Vincent Giangrosso, and brother to Sara Reese. Joe leaves behind
                    Andrea Giangrosso, wife of Michael V. Giangrosso and 3 grandchildren Mickey, Makayla and Maggie
                    Giangrosso, and Clarissa Golemboski, wife of Joe P. Giangrosso III and 3 step-grandchildren Mikayla,
                    Gillian and Noah Golemboski.
                </p>

            </article>
            <article class="silent-key">
                <ul class="no-list-style pl1 pb1">
                    <li>Mo Hodgdon, NS4H/SK</li>
                    <li>December 20, 1951 - December 26, 2020</li>
                </ul>

                <div class="text-wrap-left center-picture">
                    <img src="/assets/images/sk/Mo_Hodgdon.jpg" alt="Mo Hodgdon, NS4H/SK" title="Mo Hodgdon, NS4H/SK">
                </div>
                <p>
                    Maurice "Mo" Everett Hodgdon passed away unexpectedly but peacefully in his sleep on December 26,
                    2020 at his home in Mary Esther, Florida. Mo was born December 20, 1951 in Rochester, New Hampshire.
                    He was proceeded in death by his parents Chauncey Hodgdon and Pauline Nason. He is survived by his
                    wife of 48 years Diana Hodgdon, daughters Jennifer Hodgdon (Armondo Bell) and Amanda Jenkins (Adam);
                    Son Logan Hodgdon; grandsons Andy Jenkins (Shiana), Alex Jenkins, AJ Bell, and Zayne Hodgdon; and
                    great grandson Carson Jenkins.
                </p>
                <p>
                    Mo is a proud retired veteran of the United States Air Force, and is retired from Silver Sands
                    School.
                </p>
                <p>
                    Mo is an enthusiastic ham radio operator under the call sign NS4H. This allowed him to reach out to
                    contacts all over the world and beyond. He also enjoyed fishing and volunteering with various
                    organizations throughout his life.
                </p>
            </article>
            <article class="silent-key">

                <ul class="no-list-style pl1 pb1">
                    <li>Bill Myers, KK4KF/SK</li>
                    <li>April 18, 1951 - September 22, 2015</li>
                </ul>

                <div class="text-wrap-left center-picture">
                    <img src="/assets/images/sk/Bill_Myers.jpg" alt="Bill Myers, KK4KF, SK" title="Bill Myers, KK4KF/SK">
                </div>

                <p>
                    "Deputy Myers ... served this community with distinction for decades. He was loved, admired, and
                    respected for his dedication to the law enforcement profession. He loved photography and he had an
                    ability to make those around him smile, especially his young granddaughter who he adored and took to
                    Disney World as often as he could. We pray for his soul and for his family and we ask that the
                    community pray for them as well, and for all the men and women who have the courage in these
                    troubled times to put their lives on the line for others." --Sheriff Larry Ashley
                </p>


            </article>
            <article class="silent-key">
                <ul class="no-list-style pl1 pb1">
                    <li>Paul A Foster, WB8UNT/SK</li>
                    <li>August 27, 1944 - October 25, 2013</li>
                </ul>

                <div class="text-wrap-left center-picture">
                    <img src="/assets/images/sk/Paul_Foster.jpg" alt="Paul A Foster, WB8UNT, SK"
                        title="Paul A Foster, WB8UNT/SK">
                </div>

                <p>
                    A lifelong educator, Paul continued a family legacy established generations before him, and inspired
                    many others to join the profession. Paul enjoyed a 30-year teaching career at Aiken High School and
                    Cincinnati Technical College. He was also a veteran of the U.S. Navy, having served during the Cuban
                    Missile Crisis.</p>
                <p>
                    After retirement, and moving to Fort Walton Beach, Paul worked 11 years for the Supervisor of
                    Elections office and proudly served on the Board of Trustees at Northwest Florida State College. His
                    community service also included Okaloosa Island Fire Commissioner, CERT, Leaseholders Association,
                    and Playground Amateur Radio Club. Paul was an avid supporter of the Eastern Panhandle Regional
                    Science Fair, judging and mentoring students and representing the Playground Amateur Radio Club in
                    providing awards to students whose projects related to Amateur Radio. This was one of Paul's
                    favorite involvements as it was a combination of his teaching profession and his hobby. It afforded
                    him the opportunity to continue his mission to help students and to promote his hobby of amateur
                    radio.
                </p>
            </article>
        </section>

        <section>
            <h1 class="pt1 pb1">PARC SK Memorial QSL Cards</h1>

            <ul class="no-list-style sql-card-list pb1">
                <li class="sql-card">                    
                    <img src="/assets/images/sql_cards/AC0M.jpg" alt="AC0M" title="AC0M">
                    <p>C.M. Christensen, AC0M</p>
                </li>
                <li class="sql-card">
                    <img src="/assets/images/sql_cards/K2UVG.jpg" alt="K2UVG" title="K2UVG">
                    <p>Hank Kahrs, K2UVG</p>
                </li>
                <li class="sql-card">
                    <img src="/assets/images/sql_cards/K3PSK.jpg" alt="K3PSK" title="K3PSK">
                    <p>Tom, K3PSK</p>
                </li>
                <li class="sql-card">
                    <img src="/assets/images/sql_cards/K4AQO.jpg" alt="K4AQO" title="K4AQO">
                    <p>Cecil D. Cliburn, K4AQO</p>
                </li>
                                <li class="sql-card">
                    <img src="/assets/images/sql_cards/K4CUC.jpg" alt="K4CUC" title="K4CUC">
                    <p>Harry Morar, K4CUC</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/KC4MLN.jpg" alt="KC4MLN" title="KC4MLN">
                    <p>Don Hall, KC4MLN</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/KC4PGS.jpg" alt="KC4PGS" title="KC4PGS">
                    <p>Ed, KC4PGS</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/KD4XT.jpg" alt="KD4XT" title="KD4XT">
                    <p>Josiah C. Musick, KD4XT</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/KF4MG.jpg" alt="KF4MG" title="KF4MG">
                    <p>Betty Farr, KF4MG</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/N1CPG.jpg" alt="N1CPG" title="N1CPG">
                    <p>Tony Tino, N1CPG</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/N4BEY.jpg" alt="N4BEY" title="N4BEY">
                    <p>Charles Shackelford, N4BEY</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/N4DQB.jpg" alt="N4DQB" title="N4DQB">
                    <p>Allen Farr, N4DQB</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/N4DZT.jpg" alt="N4DZT" title="N4DZT">
                    <p>Mel Bray, N4DZT</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/N4GNW.jpg" alt="N4GNW" title="N4GNW">
                    <p>Vern Reierson, N4GNW</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/N4GQ.jpg" alt="N4GQ" title="N4GQ">
                    <p>Jack Renaud, N4GQ</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/N4GSS.jpg" alt="N4GSS" title="N4GSS">
                    <p>Eugene D. Bench, N4GSS</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/N4HMD.jpg" alt="N4HMD" title="N4HMD">
                    <p>Lloyd C. Wood, N4HMD</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/N4LOA.jpg" alt="N4LOA" title="N4LOA">
                    <p>Gil Gates, N4LOA</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/N4QWX.jpg" alt="N4QWX" title="N4QWX">
                    <p>Clair Fisher, N4QWX</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/VE3HVD.jpg" alt="VE3HVD" title="VE3HVD">
                    <p>John Howarth, VE3HVD</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W4BVE.jpg" alt="W4BVE" title="W4BVE">
                    <p>Alan C. Hinshelwood, W4BVE</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W4CXP.jpg" alt="W4CXP" title="W4CXP">
                    <p>Ken Huntley, W4CXP</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W4DTV.jpg" alt="W4DTV" title="W4DTV">
                    <p>Bob H. Watson, W4DTV</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W4IID.jpg" alt="W4IID" title="W4IID">
                    <p>Ted Smith, W4IID</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W4IPM.jpg" alt="W4IPM" title="W4IPM">
                    <p>Roger Wells, W4IPM</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W4LRC.jpg" alt="W4LRC" title="W4LRC">
                    <p>Quin, W4LRC</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W4MFY.jpg" alt="W4MFY" title="W4MFY">
                    <p>Bob Stevens, W4MFY</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W4MMW.jpg" alt="W4MMW" title="W4MMW">
                    <p>John Lakin, W4MMW</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W4NHH.jpg" alt="W4NHH" title="W4NHH">
                    <p>Bill Schuch, WA4NHH</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W4OSE.jpg" alt="W4OSE" title="W4OSE">
                    <p>George W. Edwards, W4OSE</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W4ROM.jpg" alt="W4ROM" title="W4ROM">
                    <p>Jim Waits, W4ROM</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W4SMM.jpg" alt="W4SMM" title="W4SMM">
                    Jack Rouden, W4SMM
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W4UXW.jpg" alt="W4UXW" title="W4UXW">
                    <p>Randy Counsman, W4UXW</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W4VXV.jpg" alt="W4VXV" title="W4VXV">
                    <p>John Pcheny, W4VXV</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W4WIJ.jpg" alt="W4WIJ" title="W4WIJ">
                    <p>William J. Hord, W4WIJ</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W4ZWD.jpg" alt="W4ZWD" title="W4ZWD">
                    <p>Noble Ireland, W4ZWD</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W5RHE.jpg" alt="W5RHE" title="W5RHE">
                    <p>Sam Galloway, W5RHE</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W5VWJ.jpg" alt="W5VWJ" title="W5VWJ">
                    <p>Delmar S. Stone, W5VWJ</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/W8HQB.jpg" alt="W8HQB" title="W8HQB">
                    <p>Charles Rose, W8HQB</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/WA4FRK.jpg" alt="WA4FRK" title="WA4FRK">
                    <p>Curt Kroha, WA4FRK</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/WA4YPE.jpg" alt="WA4YPE" title="WA4YPE">
                    <p>Theda Powell, WA4YPE</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/WB4EER.jpg" alt="WB4EER" title="WB4EER">
                    <p>Bill Hendricks, WB4EER</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/WB4HMQ.jpg" alt="WB4HMQ" title="WB4HMQ">
                    <p>Hap Oliver, WB4HMQ</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/WB4NJW.jpg" alt="WB4NJW" title="WB4NJW">
                    <p>Howard H. Hill, WB4NJW</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/WB4PGQ.jpg" alt="WB4PGQ" title="WB4PGQ">
                    <p>Clair W. Chellberg, WB4PGQ</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/WB4ZYG.jpg" alt="WB4ZYG" title="WB4ZYG">
                    <p>Wilbur Powell, WB4ZYG</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/WB8UNT.jpg" alt="WB8UNT" title="WB8UNT">
                    <p>Paul A Foster, WB8UNT</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/WB9RKJ.jpg" alt="WB9RKJ" title="WB9RKJ">
                    <p>Jan Sager, WB9RKJ</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/WD4HIF.jpg" alt="WD4HIF" title="WD4HIF">
                    <p>Phil O'Dwyer, WF4X</p>
                </li>

                <li class="sql-card">
                    <img src="/assets/images/sql_cards/WD4KKV.jpg" alt="WD4KKV" title="WD4KKV">
                    <p>Leonard J. Waechter, WD4KKV</p>
                </li>

                <li class="sql-card mb1">
                    <img src="/assets/images/sql_cards/WG4X.jpg" alt="WG4X" title="WG4X">
                    <p>Harold R. Byrd, WG4X</p>
                </li>

                <li>

                </li>
            </ul>
        </section>
    </main>
</MainLayout>