---
import MainLayout from '../layouts/MainLayout.astro';
---

<style>

    .small-tables { display: block; }
    .large-tables { display: none; }

    @media screen and (min-width: 700px) {

        .small-tables { display: none; }
        .large-tables { display: block; }
    }

</style>

<MainLayout title = "PARC - Repeaters">

    <main>
        <section>
            <h1 class="pt1-5">The Playground Amateur Radio Club operates three 2 meter repeaters.</h1>

            <div class="small-tables">
                <table>
                    <thead>
                        <tr>
                            <th><strong>Call Sign</strong></th>
                            <th><strong>Frequency</strong></th>
                            <th><strong>Tone</strong></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>W4ZBB</td>
                            <td>146.790 -</td>
                            <td>100Hz</td>
                        </tr>

                        <tr>
                            <td>W4ZBB</td>
                            <td>147.225 +</td>
                            <td>100Hz</td>
                        </tr>

                    </tbody>
                </table>
            
                            <h1 class="pt1-5">Other Nearby 2 meter Repeaters</h1>
                <table>
                    <thead>
                        <tr>
                            <th><strong>Call Sign</strong></th>
                            <th><strong>Frequency</strong></th>
                            <th><strong>Tone</strong></th>
                        </tr>
                    </thead>
                    <tbody>


                        <tr>
                            <td>W4RH</td>
                            <td>147.000 +</td>
                            <td>100Hz</td>
                        </tr>

                        <tr>
                            <td>KO4EOC</td>
                            <td>145.150</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>W4RYZ</td>
                            <td>145.210</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>AC4QB</td>
                            <td>145.330 -</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>KO4TT</td>
                            <td>145.350 -</td>
                            <td>100Hz</td>
                            </tr>
                        <tr>
                            <td>AA4PT</td>
                            <td>145.410 -</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>WA4ECY</td>
                            <td>145.450 -</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>W4VIY</td>
                            <td>145.490 -</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>K4SRC</td>
                            <td>146.700 -</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>K4DTV</td>
                            <td>146.730 -</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>W4UC</td>
                            <td>146.760 -</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>WB4OQF</td>
                            <td>146.850 -</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>KD4EKC</td>
                            <td>146.940 -</td>
                            <td>103.5 Hz</td>
                        </tr>
                        <tr>
                            <td>W4NN</td>
                            <td>147.120 +</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>WF4X</td>
                            <td>147.285 +</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>W4AAZ</td>
                            <td>147.360 +</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>KJ4JAH</td>
                            <td>147.375 +</td>
                            <td>100Hz</td>
                        </tr>
                    </tbody>
                </table>

                <h1 class="pt1-5">Nearby 70cm (and up)Repeaters</h1>
                <table>
                    <thead>
                        <tr>
                            <th><strong>Call Sign</strong></th>
                            <th><strong>Frequency</strong></th>
                            <th><strong>Tone</strong></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>W4ZBB</td>
                            <td>444.450 +</td>
                            <td>100Hz PL</td>
                        </tr>
                        <tr>
                            <td>N4NID</td>
                            <td>442.950 +</td>
                            <td>DCS 023</td>
                        </tr>
                        <tr>
                            <td>WB4OQF</td>
                            <td>443.700 +</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>WA4ECY</td>
                            <td>443.850 +</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>N3CMH</td>
                            <td>443.975 +</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>KC4ERT</td>
                            <td>444.200 +</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>W4VIY</td>
                            <td>444.400 +</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>SARNet</td>
                            <td>444.900 +</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>W4NN</td>
                            <td>444.800 +</td>
                            <td>100Hz</td>
                        </tr>
                        <tr>
                            <td>N4NID</td>
                            <td>444.950 +</td>
                            <td>DCS 023</td>
                        </tr>
                        <tr>
                            <td>KO4EOC</td>
                            <td>446.600 +</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>KB4LSL</td>
                            <td>927.7625 +</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>KO4EOC</td>
                            <td>1291.300 +</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="large-tables">
                <table>
                    <thead>
                        <tr>
                            <th><strong>Call Sign</strong></th>
                            <th><strong>Frequency</strong></th>
                            <th><strong>Tone</strong></th>
                            <th><strong>Location</strong></th>
                            <th><strong>Description</strong></th>
                            <th><strong>Signal Maps*</strong></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>W4ZBB</td>
                            <td>146.790 -</td>
                            <td>100Hz</td>
                            <td>Ft Walton Beach</td>
                            <td>System Fusion AMS</td>
                            <td>
                                <a href="/assets/images/w4zbb_LOS5.jpg" target="_blank">LOS5</a>
                                <a href="/assets/images/w4zbb_LOS25.jpg" target="_blank">LOS25</a>
                                <a href="/assets/images/w4zbb_PLA5.jpg" target="_blank">PLA5</a>
                                <a href="/assets/images/w4zbb_PLA25.jpg" target="_blank">PLA25</a>
                            </td>
                        </tr>

                        <tr>
                            <td>W4ZBB</td>
                            <td>147.225 +</td>
                            <td>100Hz</td>
                            <td>Duke Field</td>
                            <td>System Fusion AMS</td>
                            <td>
                                <a href="/assets/images/w4zbb-d_LOS5.jpg" target="_blank">LOS5</a>
                                <a href="/assets/images/w4zbb-d_LOS25.jpg" target="_blank">LOS25</a>
                                <a href="/assets/images/w4zbb-d_PLA5.jpg" target="_blank">PLA5</a>
                                <a href="/assets/images/w4zbb-d_PLA25.jpg" target="_blank">PLA25</a>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <h1 class="pt1-5">Other Nearby 2 meter Repeaters</h1>
                <table>
                    <thead>
                        <tr>
                            <th><strong>Call Sign</strong></th>
                            <th><strong>Frequency</strong></th>
                            <th><strong>Tone</strong></th>
                            <th><strong>Location</strong></th>
                            <th><strong>Description</strong></th>
                            <th><strong>Signal Maps*</strong></th>
                        </tr>
                    </thead>
                    <tbody>


                        <tr>
                            <td>W4RH</td>
                            <td>147.000 +</td>
                            <td>100Hz</td>
                            <td>Destin</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr>
                            <td>KO4EOC</td>
                            <td>145.150</td>
                            <td></td>
                            <td>Crestview</td>
                            <td>D-Star</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>W4RYZ</td>
                            <td>145.210</td>
                            <td>&nbsp;</td>
                            <td>Panama City</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>AC4QB</td>
                            <td>145.330 -</td>
                            <td>100Hz</td>
                            <td>Panama City</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>KO4TT</td>
                            <td>145.350 -</td>
                            <td>100Hz</td>
                            <td>Pensacola</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>AA4PT</td>
                            <td>145.410 -</td>
                            <td>100Hz</td>
                            <td>Milton</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>WA4ECY</td>
                            <td>145.450 -</td>
                            <td>100Hz</td>
                            <td>Pensacola</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>W4VIY</td>
                            <td>145.490 -</td>
                            <td>100Hz</td>
                            <td>Milton</td>
                            <td>System Fusion AMS</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>K4SRC</td>
                            <td>146.700 -</td>
                            <td>100Hz</td>
                            <td>Milton</td>
                            <td>Santa Rosa Co ARESSystem Fusion AMS</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>K4DTV</td>
                            <td>146.730 -</td>
                            <td></td>
                            <td>Valparaiso</td>
                            <td>&nbsp;</td>
                            <td>
                                <a href="/assets/images/k4dtv_LOS5.jpg" target="_blank">LOS5</a>
                                <a href="/assets/images/k4dtv_LOS25.jpg" target="_blank">LOS25</a>
                                <a href="/assets/images/k4dtv_PLA5.jpg" target="_blank">PLA5</a>
                                <a href="/assets/images/k4dtv_PLA25.jpg" target="_blank">PLA25</a>
                            </td>
                        </tr>
                        <tr>
                            <td>W4UC</td>
                            <td>146.760 -</td>
                            <td>100Hz</td>
                            <td>Pensacola</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>WB4OQF</td>
                            <td>146.850 -</td>
                            <td>100Hz</td>
                            <td>Pensacola</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>KD4EKC</td>
                            <td>146.940 -</td>
                            <td>103.5 Hz</td>
                            <td>Destin</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>W4NN</td>
                            <td>147.120 +</td>
                            <td>100Hz</td>
                            <td>Eglin AFB</td>
                            <td>System Fusion AMS</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>WF4X</td>
                            <td>147.285 +</td>
                            <td>100Hz</td>
                            <td>Defuniak Springs</td>
                            <td>Ecolink 637806</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>W4AAZ</td>
                            <td>147.360 +</td>
                            <td>100Hz</td>
                            <td>Crestview</td>
                            <td>System Fusion AMS</td>
                            <td>
                                <a href="/assets/images/w4aaz_LOS5.jpg" target="_blank">LOS5</a>
                                <a href="/assets/images/w4aaz_LOS25.jpg" target="_blank">LOS25</a>
                                <a href="/assets/images/w4aaz_PLA5.jpg" target="_blank">PLA5</a>
                                <a href="/assets/images/w4aaz_PLA25.jpg" target="_blank">PLA25</a>
                            </td>
                        </tr>
                        <tr>
                            <td>KJ4JAH</td>
                            <td>147.375 +</td>
                            <td>100Hz</td>
                            <td>Defuniak</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>

                <h1 class="pt1-5">Nearby 70cm (and up)Repeaters</h1>
                <table>
                    <thead>
                        <tr>
                            <th><strong>Call Sign</strong></th>
                            <th><strong>Frequency</strong></th>
                            <th><strong>Tone</strong></th>
                            <th><strong>Location</strong></th>
                            <th><strong>Description</strong></th>
                            <th><strong>Signal Maps*</strong></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>W4ZBB</td>
                            <td>444.450 +</td>
                            <td>100Hz PL</td>
                            <td>Ft Walton Beach</td>
                            <td>System Fusion AMS</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>N4NID</td>
                            <td>442.950 +</td>
                            <td>DCS 023</td>
                            <td>Crestview</td>
                            <td>System Fusion AMS, Linked to W4NN 444.800 on Eglin</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>WB4OQF</td>
                            <td>443.700 +</td>
                            <td>100Hz</td>
                            <td>Pensacola</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>WA4ECY</td>
                            <td>443.850 +</td>
                            <td>100Hz</td>
                            <td>Pensacola</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>N3CMH</td>
                            <td>443.975 +</td>
                            <td>100Hz</td>
                            <td>Milton</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>KC4ERT</td>
                            <td>444.200 +</td>
                            <td>100Hz</td>
                            <td>Navarre</td>
                            <td>System Fusion AMS</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>W4VIY</td>
                            <td>444.400 +</td>
                            <td>100Hz</td>
                            <td>Milton</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>SARNet</td>
                            <td>444.900 +</td>
                            <td>100Hz</td>
                            <td>Crestview</td>
                            <td><a href="http://sarnetfl.com" target="_blank">SARNetFL Site</a></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>W4NN</td>
                            <td>444.800 +</td>
                            <td>100Hz</td>
                            <td>Eglin AFB</td>
                            <td>Linked to N4NID (442.950) in Crestview</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>N4NID</td>
                            <td>444.950 +</td>
                            <td>DCS 023</td>
                            <td>Crestview</td>
                            <td>System Fusion AMS</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>KO4EOC</td>
                            <td>446.600 +</td>
                            <td></td>
                            <td>Crestview</td>
                            <td>D-Star</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>KB4LSL</td>
                            <td>927.7625 +</td>
                            <td></td>
                            <td>Crestview</td>
                            <td></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>KO4EOC</td>
                            <td>1291.300 +</td>
                            <td></td>
                            <td>Crestview</td>
                            <td>D-Star</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p>
                <b>*Signal Maps:</b> The maps provided are for 5' and 25' receiving antennae. These represent reasonable
                estimates of mobile and static antenna sites. They were created using a web-based implementation of the
                FOSS <a href="http://www.qsl.net/kd2bd/splat.html" target="_blank">Splat!</a> program.
            </p>

            <p>List Current as of 22 Apr 2016</p>

        </section>
    </main>

</MainLayout>