---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title = "PARC - Visiting Amateurs">

    <main class="container">
        <section class="pb1">
            <h1 class="pt1-5">Welcome All Visiting Amateurs! </h1>
            <p>
                We hope you are enjoying your stay and our beautiful beaches. As fellow amateurs we understand you may
                be missing the hobby while visiting.
            </p>
            <p>
                PARC is in the southern part of Okaloosa County. There are 4 repeaters in this end of the county and at
                the time of this writing 3 are fusion repeaters, allowing both analog and digital radios to reach them.
                They are:
            </p>
            <ul class="no-list-style">
                <li>146.790 - with 100 Hz tone in Fort Walton Beach (Fusion repeater)</li>
                <li>147.000 + with 100 Hz tone in Destin</li>
                <li>147.225 + with 100 Hz tone at Duke Field (Fusion repeater)</li>
                <li>444.450 with 100 Hz tone in Fort Walton Beach (Fusion repeater)</li>
                <li>Simplex of 147.555 and 146.520</li>
            </ul>
            <p>
                We have meetings at our club house at the corner of Church and First Street in FWB at 1930 L on the
                first and third Thursday of each month, all are welcome. First Thursday is tech night; the third is our
                business night. First Thursday of October we have an auction which starts at 1900 L. Also most Sunday
                afternoons at about 1500 L there is likely a group of us there for informal chat.
            </p>

            <h4>You can operate HF from our clubhouse!</h4>
            <p>
                We understand that when you travel you might end up with a VHF/UHF mobile, maybe a QRP rig, perhaps a
                dipole you are having problems hanging. We invite you to join our club for $20.00 yearly. This gives you
                complete access to the clubhouse and radio room. Joining the club you have access to an ICOM 746 Pro at
                100 watts and an ICOM 738 also at 100 watts (we use this mostly for digital) and several antenna choices
                including rotatable beam. . You are responsible to complete membership application, provide hard copy of
                your current license, enter contacts in our log, using your call sign or ours W4ZBB, while remaining in
                your authorized frequencies unless one of our higher class operators are present. This gives you the
                opportunity to keep up with your normal nets, your friends back home, or make that rare contact you
                would have missed. We also have an extensive library that you can borrow: radio, computer and electronic
                books from.
            </p>
            
            <h4>Amateur Radio License Testing Available</h4>
            <p>
                Amateur Radio Operator Examinations are held at 0900 on the second Saturday of every odd month. Testing
                is at the Playground Amateur Radio Club's clubhouse. All candidates must bring a photo ID and existing
                licensees need an original copy of their FCC-issued license. The test fee is $15 (at this time), payable
                by cash or check. If you have any questions concerning exam schedules, what you need to bring, or the
                current information pertaining to the licensing structure, please feel free to contact the exam
                coordinator at <a href="mailto:exams@w4zbb.org">exams@w4zbb.org</a>.
            </p>
        </section>
    </main>
</MainLayout>