---
import MainLayout from '../../layouts/MainLayout.astro';
---
<MainLayout title = "PARC - Resources">

    <main> 
        <section class="pt1 pb1">
            <a href="/resources/qsl_codes">QSL Codes</a>
        </section>
    </main>
</MainLayout>
