---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title = "PARC - By-Laws">

    <main>
        <section>

            <h1>PARC Membership Form</h1>
            
        </section>
    </main>
</MainLayout>