---
import MainLayout from '../../layouts/MainLayout.astro';
---


<style>

    .title { text-align: center;}
    .title p { margin: 0; font-weight: 700;}
    .tab { padding-left: 2rem; }
    .tab-2 { padding-left: 4rem; }

</style>

<MainLayout title = "PARC - By-Laws">

    <main>

        <section class="title mt1 mb2">
            <p>BY-LAWS of the PLAYGROUND AMATEUR RADIO CLUB</p>
            <p>Fort Walton Beach, Florida</p>
            <p>November 1, 1986</p>
            <p>(As amended October 5,2O2O)</p>
        </section>

        <section>
            <h1>Sec. 1 - MEMBERSHIP</h1>
            <p>
                Applications for full membership by a FCC licensed amateur radio operator shall be submitted for review by the membership at a regular business meeting. Applications for non-voting membership by an individual not currently holding an amateur radio license issued by the FCC, but with an interest in amateur radio, shall be submitted for review at a regular business meeting. Applicants must express a willingness to abide by the Club's Consiitution and By-Laws and such Rules as may be promulgated by the Club. Unless a majority of the voting members present at the next regular business meeting object to the applicant's application, the application is deemed accepted and membership privileges shall be awarded, at the membership level applied for, upon payment of the required dues and assessments. lt is each and every Club member's responsibility to be familiar with the Club's Constitution, By-Laws and Rules. Copies of each shall be made available at the Club's clubhouse and on the Club's website.
            </p>
        </section>

        <section>
            <h1>Sec. 2 - MEETINGS</h1>
            <p>
                Regular business meetings shall be held on the third Thursday of each month at such places, in person, on air, virtual or a combination of these, as the President shall order. Special meetings may be called by the President upon written request by any five members of the Club. Written notices shall be sent to all members informing them of the special meeting and the business to be transacted.
            </p>
        </section>

        <section>
            <h1>Sec. 3 - DUES</h1>
            <p class="tab">
                a. The Executive Committee shall present to the Club membership at the October regular business meeting its recommendation for dues assessment for the following year. This assessment is in accordance with the provisions of Article V of the Club's Constitution for the purpose of providing funds for Club expenses. The second licensed amateur radio operator residing in the same household and at the same address as a regular member is given full membership privileges for a dues assessment of one half of the current Club regular member dues assessment. Any additional licensed amateur radio operators within the same family, residing at the same address, are granted full membership privileges without assessment of additional dues.
            </p>
            <p class="tab">
                b. Club membership shall be yearly from 1 January To 31" December. New members shall pay prorated portion of one quarter of the current Club regular dues assessment_per quarter.
            </p>
        </section>

        <section>
            <h1>Sec. 4 - REPEATER PRIVILEGES</h1>
            <p>
                Procedures for the operation and use of the Club repeater(s) shall be developed by the Repeater Trustee and the Engineering Committee and shall be subject to approval by the Executive Committee and acceptance by the membership of the Club.
            </p>        
        </section>

        <section>
            <h1>Sec. 5 - VOTING PRIVIIEGES</h1>
            <p>
                All paid up amateur full members shall have the privileges of voting. A member shall be considered delinquent if dues are not paid by 1 April. Voting by mail or other pre-approved means shaii be authorized oniy for changes to the Constitution and By-Laws.
            </p>
        </section>

        <section>
            <h1>Sec. 6 - SPECIAL FUNDS</h1>
            <p>
                Special funds such as Hamfest, Building and Repeater, shall be established as recommended by the Executive Committee and approved by the voting membership.
            </p>
        </section>

        <section>
            <h1>Sec. 7 - FISCAL YEAR</h1>
            <p>
                The fiscal year of the Club shall commence on the first day of January and shall end on the last day of December.
            </p>
        </section>

        <section>
            <h1>Sec. 8 - AUDITS</h1>
            <p>
                The Executive Committee shall audit the books of the Club during the last month of the fiscal year and shall report the condition of the books at the first meeting of the fiscal year.
            </p>
        </section>

        <section>
            <h1>Sec. 9 - CLUB PROPERTY</h1>
            <p>
                All property shall be inventoried by the Club Station Trustee every six months. The inventories will take place in the months of July and January (To coincide with the term of officeoftheCiubOfficers). AliClubpropertywilibetheresponsibiiityoftheClubTrustee. TheClub Secretary, if appropriate, will keep a current list of property by item and serial number.
            </p>
        </section>

        <section>
            <h1>Sec. 10 - COMMITTEES</h1>
            <p>
                The President shall appoint such committees as desired. The following shall be established as a minimum:
            </p>
            <p class="tab">
                a. <strong>EXE€UTIVE COMMTTTEE:</strong> The Executive Committee shall be composed of the Officers of the Club and the Chairman of the Engineering Committee. The Executive Committee shall be the governing body of the Club and shall perform all duties as prescribed in these By-Laws.
            </p>
            <p class="tab">
                b. <strong>ENGINEERING COMMITTEE.</strong> The Engineering Committee shall oversee all planning, installation and maintenance of repeater and station equipment. This committee shall be responsible for the current operation of the Playground Amateur Radio Club repeater(s) and Club station equipment. The committee shall make recommendations to the Executive Committee whenever additional equipment is needed. The Repeater Trustee(s) are permanent members of the Engineering Committee.
            </p>
            <p class="tab">
                c. <strong>HAMFEST COMMITTEE:</strong> The President shall, at the firsi r-egular business meeting after having taken office, appoint a Hamfest Committee. This committee shall serve concurrently with the President.
            </p>
            <p class="tab-2">
                1. <strong>Duties:</strong> The Hamfest Committee shallorganize, publicize, run, and report on the Hamfest. They shall submit monthly reports either verbally or in writing at each regular business meeting of the Club. In addition, they shall submit a comprehensive written Final report to the Club membership after the event but prior to the end of the fiscal year.
            </p>
            <p class="tab-2">
                2. <strong>Responsibilities:</strong> The Hamfest Committee shall be responsible for authorizing the Treasurer to make disbursements from the Hamfest fund for Hamfest expenses. They may not authorize expenditures in excess of the funds held within the Hamfest fund unless previous authorization is obtained from the Club membership. The Club membership shall then authorize expenditure limited for the main prizes, which the Hamfest Committee may not exceed. The Hamfest Committee shall be responsible for the selection of the main prizes
            </p>

            <p class="tab-2">
                3. <strong>Delegation:</strong> The President may delegate such other duties and responsibilities related to the Hamfest as deemed necessary.
            </p>
            <p class="tab-2">
                4. <strong>Removal:</strong> The President or a simple majority of the voting membership may remove the Hamfest Committee or individual members.
            </p>
        </section>

        <section>
            <h1>Sec. 11 - DISBURSEMENTS</h1>
            <p>
                The Treasurer shall make all disbursements. With the exception of the Hamfest expenses, disbursements from the Hamfest fund at the direction of the Hamfest Committee, the Treasurer shall have prior Club approvai for all disbursements in excess of 5250.00. The Executive Committee may approve disbursements for emergency needs up to a limit of $500.00 per item.
            </p>
        </section>

        <section>
            <h1>Sec. 12 - USE OF THE REPEATER/RADIO FACILITY</h1>
            <p>
                The Club repeater(s)/radio facility(s) are intended for the use of Club members and for emergency and public service use. Non-resident amateur radio operators with a valid FCC license visiting the area may also use the Club repeater(s)/radio facility(s) after certification by the Club's Station Trustee. Other amateur radio operators with a valid FCC license, during emergency situations, may also use the Club repeater(s)/radio facility(s), after certification by the Club's Station Trustee.
            </p>
        </section>

        <section>
            <h1>Sec. 13 - AWARDS</h1>
            <p class="tab">
                a. <strong>HAM OF THE YEAR AWARD:</strong> An award in the form of an appropriate plaque may be given annually to the Club member that has made a significant contribution to Amateur Radio in the local community. Nominations will be submitted in writing to the President during the April business meeting. The Club members shall select by voie from the nominations at the June business meeting.
            </p>
        </section>

        <section>
            <h1>Sec. 14 - DISPOSITION OF CLUB ASSETs</h1>
            <p>
                In the event that the Playground Amateur Radio Club ceases to exist (does not include a change of name), all Club assets will be donated to the American Radio Relay League (ARRL) Foundation (unless voted on otherwise by Club membership) to be used for the purpose of awarding scholarships to deserving licensed amateur radio operators in the State of Florida.
            </p>
        </section>



    </main>
</MainLayout>