---
import MainLayout from '../../layouts/MainLayout.astro';
---
<MainLayout title = "PARC - ARES">

    <main> 

        <section>
            <section class="pt1 pb1">
               <h1 class="pb1">The Amateur Radio Q-Code</h1>

                <table>
 
                     <thead>
                          <tr>
                               <th>Signal</th>
                               <th>Question</th>
                               <th>Answer, Advice or Order</th>
                          </tr>
                     </thead>
 
                     <tbody>
                          <tr>
                               <td>QRA</td>
                               <td>What is the name (or call sign) of your station?</td>
                               <td>The name of my station is [my name / callsign].</td>
                          </tr>
                          <tr>
                               <td>QRG</td>
                               <td>Will you indicate my exact frequency in kilocycles?</td>
                               <td>Your frequency is ... kc.</td>
                          </tr>
                          <tr>
                               <td>QRH</td>
                               <td>Does my frequency vary?</td>
                               <td>Your frequency varies.</td>
                          </tr>
                          <tr>
                               <td>QRI</td>
                               <td>How is the tone of my transmission?</td>
                               <td>
                                    <ul class="no-list-style">
                                         <li>The tone of your transmission is ...</li>
                                         <li>1. Good.</li>
                                         <li>2. Variable.</li>
                                         <li>3. Bad.</li>
                                    </ul>
                               </td>
                          </tr>
 
                          <tr>
                               <td>QRJ</td>
                               <td>Are you receiving me badly? Are my signals weak?</td>
                               <td>I cannot receive you. Your signals are too weak.</td>
                          </tr>
 
                          <tr>
                               <td>QRK</td>
                               <td>What is the legibility of my signals (1 to 5)?</td>
                               <td>The legibility of your signals is ... (1 to 5).</td>
                          </tr>
 
                          <tr>
                               <td>QRL</td>
                               <td>Are you busy?</td>
                               <td>I am busy (or busy with....). Please do not interfere.</td>
                          </tr>
 
                          <tr>
                               <td>QRM </td>
                               <td>Are you being interfered with?</td>
                               <td>I am being interfered with.</td>
                          </tr>
 
                          <tr>
                               <td>QRN</td>
                               <td>Are you troubled by static?</td>
                               <td>I am troubled by static.</td>
                          </tr>
 
                          <tr>
                               <td>QRO </td>
                               <td>Must I increase power?</td>
                               <td>Increase power.</td>
                          </tr>
 
                          <tr>
                               <td>QRP </td>
                               <td>Must I decrease power?</td>
                               <td>Decrease power.</td>
                          </tr>
 
                          <tr>
                               <td>QRQ </td>
                               <td>Must I send faster?</td>
                               <td>Send faster ... (words per min.).</td>
                          </tr>
 
                          <tr>
                               <td>QRS </td>
                               <td>Must I send more slowly?</td>
                               <td>Transmit more slowly ... (w.p.m.).</td>
                          </tr>
 
                          <tr>
                               <td>QRT </td>
                               <td>Must I stop transmission?</td>
                               <td>Stop transmission.</td>
                          </tr>
 
                          <tr>
                               <td>QRU </td>
                               <td>Have you anything for me?</td>
                               <td>I have nothing for you.</td>
                          </tr>
 
                          <tr>
                               <td>QRV </td>
                               <td>Are you ready?</td>
                               <td>I am ready.</td>
                          </tr>
 
                          <tr>
                               <td>QRW</td>
                               <td>Must I advise ... that you are calling him on ... kc?</td>
                               <td>Please advise ... that I am calling him on ... kc.</td>
                          </tr>
 
                          <tr>
                               <td>QRX </td>
                               <td>When will you call again?</td>
                               <td>I will call you again at ... hours (on ... kc.).</td>
                          </tr>
 
                          <tr>
                               <td>QRZ </td>
                               <td>By whom am I being called?</td>
                               <td>You are being called by ...</td>
                          </tr>
 
                          <tr>
                               <td>QSA</td>
                               <td>What is the strength of my signals (1 to 5)?</td>
                               <td>The strength of your signals is ... (1 to 5).</td>
                          </tr>
 
                          <tr>
                               <td>QSB </td>
                               <td>Does the strength of my signals vary?</td>
                               <td>The strength of your signals varies.</td>
                          </tr>
 
                          <tr>
                               <td>QSD</td>
                               <td>Is my keying correct? Are my signals distinct?</td>
                               <td>Your keying is incorrect; your signals are bad.</td>
                          </tr>
 
                          <tr>
                               <td>QSG</td>
                               <td>Must I transmit ... telegrams (or one telegram) at a time?</td>
                               <td>Transmit ... telegrams (or one telegram) at a time.</td>
                          </tr>
 
                          <tr>
                               <td>QSK </td>
                               <td>Shall I continue the transmission of all my traffic?</td>
                               <td>I can hear you between my signals. Continue: I shall interrupt you if necessary.</td>
                          </tr>
 
                          <tr>
                               <td>QSL </td>
                               <td>Can you acknowledge receipt?</td>
                               <td>I am acknowledging receipt.</td>
                          </tr>
 
                          <tr>
                               <td>QSM</td>
                               <td>Shall I repeat the last telegram I sent you?</td>
                               <td>Repeat the last telegram you sent me.</td>
                          </tr>
 
                          <tr>
                               <td>QSO </td>
                               <td>Can you communicate with ... directly (or through...)?</td>
                               <td>I can communicate with ... direct (or through...).</td>
                          </tr>
 
                          <tr>
                               <td>QSP</td>
                               <td>Will you relay to ...?</td>
                               <td>I will relay to ... free of charge.</td>
                          </tr>
 
                          <tr>
                               <td>QSV</td>
                               <td>Shall I send a series of VVV....?</td>
                               <td>Send a series of VVV.</td>
                          </tr>
 
                          <tr>
                               <td>QRW</td>
                               <td>Will you transmit on [frequency]?</td>
                               <td>I will transmit on [frequency].</td>
                          </tr>
 
                          <tr>
                               <td>QSX</td>
                               <td>Will you listen for ... (call sign) on ... kcs?</td>
                               <td>I am listening for ... on ... kcs.</td>
                          </tr>
 
                          <tr>
                               <td>QSY </td>
                               <td>Shall I change to ... kilocycles without changing the type of wave?</td>
                               <td>Change to ... kc. without changing type of wave.</td>
                          </tr>
 
                          <tr>
                               <td>QSZ</td>
                               <td>Shall I send each word or group twice?</td>
                               <td>Send each word or group twice.</td>
                          </tr>
 
                          <tr>
                               <td>QTA</td>
                               <td>Shall I cancel nr ... as if it had not been sent?</td>
                               <td>Cancel nr ... as if it had not been sent.</td>
                          </tr>
 
                          <tr>
                               <td>QTB</td>
                               <td>Do you agree with my word count?</td>
                               <td>I do not agree with your word count; I shall repeat the first letter of each word and
                                    the first figure of each number.</td>
                          </tr>
 
                          <tr>
                               <td>QTC</td>
                               <td>How many telegrams have you to send?</td>
                               <td>I have ... telegrams for you or for ....</td>
                          </tr>
 
                          <tr>
                               <td>QTH </td>
                               <td>What is your position (location)?</td>
                               <td>My position (location) is ....</td>
                          </tr>
 
                          <tr>
                               <td>QTR</td>
                               <td>What is the exact time?</td>
                               <td>The exact time is ....</td>
                          </tr>
 
                          <tr>
                               <td>QTV</td>
                               <td>Shall I stand guard for you?</td>
                               <td>Stand guard for me.</td>
                          </tr>
 
                          <tr>
                               <td>QTX</td>
                               <td>Will you keep your station open for further communication with me?</td>
                               <td>I will keep my station open for further communication.</td>
                          </tr>
 
                          <tr>
                               <td>QST </td>
                               <td></td>
                               <td>General call preceeding a message address to all amateurs and A.R.R.L. Members. This
                                    is in effect "CQ ARRL".</td>
                          </tr>
 
                          <tr>
                               <td>QUA</td>
                               <td>Have you news regarding [event]?</td>
                               <td>I have news regarding [event].</td>
                          </tr>
 
                          <tr>
                               <td>QRRR</td>
                               <td></td>
                               <td>Official A.R.R.L. "land SOS." A distress call for emergency use only.</td>
                          </tr>
                     </tbody>
                </table>
 
           </section>
        </section>

    </main>
</MainLayout>