---
let {title} = Astro.props;
import '../styles/base.css';
import '../styles/style.css';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	
</head>
<body>
    <div class="container">
        <header>
            <div class="banner">
                <div class="banner-title">
                    <h1>W4ZBB</h1>
                    <h2>Playground Amateur Radio Club</h2>
                </div>

                <div class="banner-logos">
                    <a href="index.html" alt="PARC Home">
                        <img src="/assets/images/parc_logo.png" 
                            alt="PARC Logo" 
                            title="Playground Amateur Radio Club">
                    </a>
                    <a href="http://www.arrl.org/ares" target="_blank">
                        <img src="/assets/images/ares_logo.png"
                            alt="ARES Logo" 
                            title="Amateur Radio Emergency Service">
                    </a>
                    <a href="http://www.arrl.org" target="_blank">
                        <img src="/assets/images/arrl_logo.png"
                            alt="ARRL logo" 
                            title="ARRL Home Page"
                            class="arrl-logo" >
                    </a>
                </div>
            </div>

            <button id="menu-button" class="btn mt05 mb05 width-100">Menu</button>

            <nav class="hidden">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/hamradio/">Ham Radio</a></li>
                    <li><a href="/nets/">Nets</a></li>
                    <li><a href="/hamfest/">Hamfest</a></li>
                    <li><a href="/resources">Resources</a></li>
                    <li><a href="/repeaters/">Repeaters</a></li>
                    <li><a href="/ares/">ARES</a></li>
                    <li><a href="/code/">Code</a></li>
                    <li><a href="/exams/">Exams</a></li>
                    <li><a href="/membership/">Membership</a></li>
                    <li><a href="/contact/">Contact</a></li>
                    <li><a href="/memorial/">Memorial</a></li>
                    <li><a href="/visiting/">Visiting Amateurs</a></li>
                </ul>
            </nav>
    
        </header>

        <!-- Main Content -->
        <slot></slot>

        <footer>
            <p><small>&copy; 2022 (PARC) &middot; Playground Amateur Radio Club &middot; Fort Walton Beach, Florida 32548 &middot; Grid EM60qj</small></p>
            <p class="pt05"><small>PARC is a 501(c)3 Public Charity</small></p>
        </footer>
    </div>


    <script>

        const nav = document.querySelector("nav")
        const menuButton = document.querySelector("#menu-button");

        window.addEventListener("load", () => {
            if (window.innerWidth < 700) {
                nav.classList.add("hidden")
            }
            else {
                nav.classList.remove("hidden")
            }
        })

        window.addEventListener("resize", () => {
            if (window.innerWidth > 700) {
                nav.classList.remove("hidden")
            }
            else {
                nav.classList.add("hidden")
            }
        })

        menuButton.addEventListener("click", () => { nav.classList.toggle("hidden") })

    </script>

</body>
</html>